@media (min-width: 1024px) and (max-width: 1080px) {

#principal{
	width: 1024px;
}

#logo{
	width: 100px;
}

#headerContenido {
	width: 909px;
}

#sectionSidebarIzquierda{
	width: 50px;
	margin-right: 12px;
}

#sectionContenido{
	margin-right: 12px;
}

#navPrincipal ul#menu li {
	width: 221px;
}

#navEquipos {
	width: 909px;
}

#header, #section, #footer{
	color: orange !important;
}

}