@media (min-width: 880px) and (max-width: 960px) {

#principal{
	width: 880px;
}

#headerContenido {
	width: 100%;
}

#sectionSidebarIzquierda{
	width: 170px;
	margin: 0;
	float: right;
}

#logo{
	display: none;
}

#navPrincipal ul#menu li {
	width: 213.75px;
}

#navEquipos {
	width: 100%;
}

#header, #section, #footer{
	color: red !important;
}

}