@media (min-width: 850px) and (max-width: 980px) {

#principal{
	width: 850px;
}

#headerContenido {
	width: 100%;
}

#sectionSidebarIzquierda{
	width: 170px;
	margin: 0;
	display: block;
	float: right;
}

#logo{
	display: none;
}

#navPrincipal ul#menu li {
	width: 206.25px;
}

#navEquipos {
	width: 100%;
}

#header, #section, #footer{
	color: red !important;
}

}