body{
	background: #1c1c1c url("../Images/fondo.png");
		
	/* Para que solo aparezca la imagen expandida al 100%
	background-size: 100%;*/
	margin-top: -1px;
}

/* Nuevas etiquetas de HTML5 para que se muestren bien en IE */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

h1{
	
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

p, ul, h1, h2, h3, h4{
	padding: 0;
	margin: 0;
	display: inline;
}

header, section, footer, #logoEmpresa{
	/*Para border en toda la pagina en negro elegante*/
	border: solid 2px gray;
}	

header, section, footer{		
	width:auto;
	color: #6e6e6e;
}
  
header, footer{

}

header, section{

}

section, footer{

}

header, #logoEmpresa{
	
}

header, #derechaLogo{
	z-index: 1;
}

header{	
	height: 150px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	color: white;	
	background: none;
	border-bottom: 20px;
}

nav{
	height: 30%;
	background-color: rgb(71, 17, 17);

	/*negro grisaceo elegante
	background-color: #1D1F21;*/
}

nav, #arribaNav{
	padding-left: 235px;
}

nav ul{
	height: 100%;
}

nav ul li{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 18px;
}

nav ul li:hover{
	background-color: black;
	height: 130%;
}

nav ul li a{
	display: block;

}

#section{ 
	height: 1000px;
}

footer{
	clear: both;
	height: 128px;
	font-size: 13px;
	font-weight: bold;	
}

footer ul{
	clear: left;
	padding-left: 30px;
}

footer ul li {
	margin-left: 30px; 
}

aside{
	float: left;
	width: 100%;
	height: auto;
}

.flotarIzquierda{
	float: left;
}

.flotarDerecha{
	float: right;	
}

.transparencia{
	/* el color de fondo transparente para IE */
	background-color: transparent;
	/* el color de fondo usando rgba() */
	background-color: rgba(0, 0, 0, 0.8);
	/* el filtro de IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
}

/* No se está invocando por ahora, es para darle transparencia pero genera conflictos con el texto */
.transparencia2{	
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#logoEmpresa{
	background-image: url("../Images/fut.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	width: 220px;
	height: 220px;
	-moz-border-radius:110px;
	-webkit-border-radius:110px;
	-webkit-linear-border-radius:110px;
	-o-linear-border-radius:110px;
	-ms-linear-border-radius:110px;
	position: absolute;
	z-index: 2;
}

#derechaLogo{
	height: 100%;

	/* Esto era ideal para ajustar el ancho de diferentes dimensiones
	pero no funciono en IE u.u
	width: calc(100% - 230px);
    min-width: 230px;*/
}

#sectionIzquierda{
	float: left;
	width: 70%;
	height: 300px;
	font-size: 20px;	 
}

#sectionDerecha{
	float: right;
	width: 360px;
	height: auto;
	clear: right;
}

#sectionDerecha section{
	margin-bottom: 30px;
}

#sectionDerecha1{
	height: 300px;
}

#sectionDerecha1 a{
	float: left;
	background-color: rgb(28, 97, 80);
	width: 49%;
	height: 25%;
	border: 1px solid white;
}

#sectionDerecha1 a:hover{
	background-color: black;
}

#sectionDerecha2{
	height: 200px;
}

#sectionDerecha2 a{
	float: left;
	background-color: rgb(110, 116, 42);
	width: 11.9%;
	height: 25%;
	border: 1px solid white;
}

#sectionDerecha2 a:hover{
	background-color: black;
}

#sectionDerecha3{
	height: 100px;
}

#sectionDerecha3 a{
	float: left;
	background-color: rgb(67, 7, 75);
	width: 24.4%;
	height: 100%;
	border: 1px solid white;
}

#sectionDerecha3 a:hover{
	background-color: black;
}

#arribaNav{
	height: 70%;
	background-color: rgba(31, 0, 0, 1);
}

#humanstxt{
	width: 88px;
	height: 31px;
	background-image: url("../Images/humanstxt-orange.gif");
}

#html5{
	width: 128px;
	height: 128px;
	background-image: url("../Images/html5.png");
}

#css3{
	width: 128px;
	height: 128px;
	background-image: url("../Images/css3.jpg");	
}

#net{
	width: 128px;
	height: 128px;
	background-image: url("../Images/net.png");	
}

#sqlServer{
	width: 128px;
	height: 128px;
	background-image: url("../Images/sqlServer.png");	
}

#circulo{
	background-image: url("../Images/monkey3.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	width: 128px;
	height: 128px;
	-moz-border-radius:64px;
	-webkit-border-radius:64px;
	-webkit-linear-border-radius:64px;
	-o-linear-border-radius:64px;
	-ms-linear-border-radius:64px;
}