body{
	background: #1c1c1c url("../Images/fondo.png");
		
	/* Para que solo aparezca la imagen expandida al 100%
	background-size: 100%;*/
	margin-top: -1px;
}

/* Nuevas etiquetas de HTML5 para que se muestren bien en IE */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

h1{
	
}

p, ul, h1, h2, h3, h4{
	padding: 0;
	margin: 0;
	display: inline;
}

header, section, footer, #logoEmpresa{
	/*Para border en toda la pagina en negro elegante*/
	border: solid 3px gray;
}	

header, section, footer{		
	width:100%;
	color: #6e6e6e;
}
  
header, footer{

}

header, section{
	margin-bottom: 20px;
}

section, footer{
}

header, #logoEmpresa{
	
}

header{	
	width: auto;
	height: 150px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	color: white;	
	background: none;
}

nav{
	width: auto;
	height: 30%;
	background-color: #1D1F21;

	/* Es para la transparencia en la barra de navegacion pero creo que no la usare
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
	
	-moz-border-radius: 0 0 25px 0;
	-webkit-border-radius: 0 0 25px 0;
	-webkit-linear-border-radius: 0 0 25px 0;
	-o-linear-border-radius: 0 0 25px 0;
	-ms-linear-border-radius: 0 0 25px 0;
	
	/* Pruebas para los bordes en IE en el servidor web 
	(no funciona localmente, en el servidor SI!) */
	linear-border-radius: 0 0 25px 0;
	border-radius: 0 0 25px 0;
	behavior: url(../JS/PIE1/PIE.htc);
}

section{ 
	clear: both;
	width: 100%;
	height: 550px;
}

footer{
	clear: both;
	width: auto;
	height: 128px;
	font-size: 13px;
	font-weight: bold;	
}

footer ul{
	clear: left;
	padding-left: 30px;
}

footer ul li {
	text-decoration: none;
	margin-left: 30px; 
}

aside{
	float: left;
	width: 100%;
	height: auto;
}

#sectionIzquierda{
	float: left;
	width: 80%;
	height: 300px;
	font-size: 20px;	 
}

#sectionDerecha{
	float: right;
	width: 19%;
	height: auto;
	clear: right;
}

.flotarIzquierda{
	float: left;
}

.flotarDerecha{
	float: right;	
}

.transparencia{
	/* el color de fondo transparente para IE */
	background-color: transparent;
	/* el color de fondo usando rgba() */
	background-color: rgba(0, 0, 0, 0.8);
	/* el filtro de IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
}

/* No se está invocando por ahora, es para darle transparencia pero genera conflictos con el texto */
.transparencia2{	
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#logoEmpresa{
	background-image: url("../Images/fut.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	width: 220px;
	height: 220px;
	-moz-border-radius:110px;
	-webkit-border-radius:110px;
	-webkit-linear-border-radius:110px;
	-o-linear-border-radius:110px;
	-ms-linear-border-radius:110px;
}

#derechaLogo{
	width: 80%;
	height: 100%;

	/* Esto era ideal para ajustar el ancho de diferentes dimensiones
	pero no funciono en IE u.u
	width: calc(100% - 230px);
    min-width: 230px;*/
}

#arribaNav{
	width: auto;
	height: 70%;
	padding-left: 5px;

	-moz-border-radius: 0 25px 0 0;
	-webkit-border-radius: 0 25px 0 0;
	-webkit-linear-border-radius: 0 25px 0 0;
	-o-linear-border-radius: 0 25px 0 0;
	-ms-linear-border-radius: 0 25px 0 0;
	
	/* Pruebas para los bordes en IE en el servidor web 
	(no funciona localmente, en el servidor SI!) */
	linear-border-radius: 0 25px 0 0;
	border-radius: 0 25px 0 0;
	behavior: url(../JS/PIE1/PIE.htc);
}

#humanstxt{
	width: 88px;
	height: 31px;
	background-image: url("../Images/humanstxt-orange.gif");
}

#html5{
	width: 128px;
	height: 128px;
	background-image: url("../Images/html5.png");
}

#css3{
	width: 128px;
	height: 128px;
	background-image: url("../Images/css3.jpg");	
}

#net{
	width: 128px;
	height: 128px;
	background-image: url("../Images/net.png");	
}

#sqlServer{
	width: 128px;
	height: 128px;
	background-image: url("../Images/sqlServer.png");	
}

#circulo{
	background-image: url("../Images/monkey3.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	width: 128px;
	height: 128px;
	-moz-border-radius:64px;
	-webkit-border-radius:64px;
	-webkit-linear-border-radius:64px;
	-o-linear-border-radius:64px;
	-ms-linear-border-radius:64px;
}