body{
	background: #1c1c1c url("../Images/fondo.png");
		
	/* Para que solo aparezca la imagen expandida al 100%
	background-size: 100%;*/
	margin-top: -1px;
}

/* Nuevas etiquetas de HTML5 para que se muestren bien en IE */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

h1{
	
}

a{
	text-decoration: none;
	display: block;
	width: auto;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

li{
	list-style: none;
	float: left;
}

p, ul, h1, h2, h3, h4{
	padding: 0;
	margin: 0;
	display: inline;
}

header, section, footer, #logo{
	
}	

header, section, footer{		
	width: auto;
	color: #6e6e6e;
}

header, section, #logo{
	/*Para border en toda la pagina en gris elegante*/
	border: solid 2px gray;
}	
  
header, footer{

}

header, section{

}

section, footer{

}

header, #logo{
	
}

header{
	z-index: 1;
}

header{	
	height: 150px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	color: white;	
	background: none;
	border-bottom: 20px;
}

nav{
	height: 30%;
	
	/*negro grisaceo elegante
	background-color: #1D1F21;*/
}

nav, #headerBarra{
	padding-left: 235px;
}

nav, nav ul#menu li ul {
	background-color: rgb(71, 17, 17);
}


#section{ 
	height: 1500px;
	background-color: rgba(160, 26, 26, 0.09);
}

footer{
	background-color: black;
	clear: both;
	height: 140px;
	font-size: 13px;
	font-weight: bold;	
	color: white;
}

footer ul{
	clear: left;
	padding-left: 30px;
}

footer ul li {
	margin-left: 30px; 
	float: none;
}

aside{
	float: left;
	width: 50%;
	height: auto;
}

#asideEnlaces p{
	float: left;
}

#asideIconos{

}



.flotarIzquierda{
	float: left;
}

.flotarDerecha{
	float: right;	
}

.transparencia{
	/* el color de fondo transparente para IE */
	background-color: transparent;
	/* el color de fondo usando rgba() */
	background-color: rgba(0, 0, 0, 0.8);
	/* el filtro de IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
}

/* No se está invocando por ahora, es para darle transparencia pero genera conflictos con el texto */
.transparencia2{	
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#logo{
	background-image: url("../Images/logo.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	width: 210px;
	height: 210px;
	-moz-border-radius:110px;
	-webkit-border-radius:110px;
	-webkit-linear-border-radius:110px;
	-o-linear-border-radius:110px;
	-ms-linear-border-radius:110px;
	position: absolute;
	z-index: 2;

	float: left;
}

/* ---------------------------- Header -------------------------- */
#headerBarra{
	height: 70%;
	background-color: rgba(31, 0, 0, 1);
}

#headerCompartir{
	width: 25%;
	height: 50%;
	float: right;
}

#headerCompartir ul li{
	width: 25%;
	height: 100%;
}
/* ---------------------------- Termina Header -------------------------- */


/* ---------------------------- Nav -------------------------- */
/* Menu y Submenu */
nav ul li:hover{
	background-color: black;
}
/* Termina Menu y Submenu */


/* Menu */
nav ul#menu {
	height: 100%;
}
 
nav ul#menu li, nav ul#menu li a{	
 text-align: center;
}

nav ul#menu li {
	width: 25%;
	height: 100%;
    float: left;
}
   
nav ul#menu li:hover{
 	color: #aaa073;
}

nav ul#menu li a{
	color: white;
	display: block;
}
/* Termina menu */
   

   /* Submenu */
nav ul#menu ul {
 display: none;
 position: absolute;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
 }
   
nav ul#menu ul li{
 width:100%;
 margin:2% 0%;
}  
  
nav ul#menu ul li a{
 color: #fff;
}
   
nav ul#menu ul li a:hover{
 color: #aaa073;
}
   
ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
   
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}
/* Termina Submenu */

/* ------------------------- Termina Nav --------------------- */


/* ---------------------------- Section -------------------------- */

/* Section Equipos */
#sectionEquipos{
	height: 300px;
	display: none;
}

#sectionEquipos ul li{
	width: 10%;
	height: 50%;
}

#sectionEquipos ul li a{
	height: 100%;
}
/* Termina Section Equipos */

#sectionContenido{
	float: left;
	width: 70%;
	height: 300px;
	font-size: 20px;	 
}

/* Section Sidebar */
#sectionSidebar{
	float: right;
	width: 360px;
	height: auto;
	clear: right;
}

#sectionSidebar section{
	margin-bottom: 30px;
}

#ligas{
	height: 300px;
}

#ligas ul li{
	width: 49%;
	height: 25%;
	background-color: rgb(28, 97, 80);	
	border: 1px solid white;
}

#ligas ul li a, #masVotado ul li a{

}

#ligas ul li:hover, #topicos ul li:hover, #masVotado ul li:hover{
	background-color: black;
}

#topicos{
	height: 600px;
}

#topicos ul li {
	width: 49%;
	height: 25%;
	border: 1px solid white;
	background-color: rgb(18, 66, 33);
}

#masVotado{
	height: 300px;
}

#masVotado ul li{
	background-color: rgb(67, 7, 75);
	width: 100%;
	height: 100%;
	border: 1px solid white;
}
/* Termina Section Sidebar */
/* ---------------------------- Termina Section -------------------------- */




















/* ------------------------ Equipos -------------------------- */
#america{
	background-image: url("../Images/Equipos/america.png");	
}

#atlante{
	background-image: url("../Images/Equipos/atlante.png");	
}

#atlas{
	background-image: url("../Images/Equipos/atlas.png");	
}

#chiapas{
	background-image: url("../Images/Equipos/chiapas.png");	
}

#chivas{
	background-image: url("../Images/Equipos/chivas.png");	
}

#cholos{
	background-image: url("../Images/Equipos/cholos.png");	
}

#cruzAzul{
	background-image: url("../Images/Equipos/cruzAzul.png");	
}

#leon{
	background-image: url("../Images/Equipos/leon.png");	
}

#monterrey{
	background-image: url("../Images/Equipos/monterrey.png");	
}

#morelia{
	background-image: url("../Images/Equipos/morelia.png");	
}

#pachuca{
	background-image: url("../Images/Equipos/pachuca.png");	
}

#puebla{
	background-image: url("../Images/Equipos/puebla.png");	
}

#pumas{
	background-image: url("../Images/Equipos/pumas.png");	
}

#queretaro{
	background-image: url("../Images/Equipos/queretaro.png");	
}

#santos{
	background-image: url("../Images/Equipos/santos.png");	
}

#tigres{
	background-image: url("../Images/Equipos/tigres.png");	
}

#toluca{
	background-image: url("../Images/Equipos/toluca.png");	
}

#veracruz{
	background-image: url("../Images/Equipos/veracruz.png");	
}


/* ------------------------ Termina Equipos -------
------------------- */


/* ---------------------------- RedesSociales -------------------------- */
#facebook{
	background-image: url("../Images/RedesSociales/facebook1.png");		
}

#facebook:hover{
	background-image: url("../Images/RedesSociales/facebook2.png");			
}

#twitter{
	background-image: url("../Images/RedesSociales/twitter1.png");		
}

#twitter:hover{
	background-image: url("../Images/RedesSociales/twitter2.png");			
}

#googlePlus{
	background-image: url("../Images/RedesSociales/googlePlus1.png");		
}

#googlePlus:hover{
	background-image: url("../Images/RedesSociales/googlePlus2.png");			
}

#instagram{
	background-image: url("../Images/RedesSociales/instagram1.png");		
}

#instagram:hover{
	background-image: url("../Images/RedesSociales/instagram2.png");			
}

/* ---------------------------- Termina RedesSociales -------------------------- */


/* ---------------------------- Tecnologias -------------------------- */
#humanstxt{
	width: 88px;
	height: 31px;
	background-image: url("../Images/Tecnologias/humanstxt-color.png");
	float: right;
}

#html5{
	width: 128px;
	height: 128px;
	background-image: url("../Images/html5.png");
}

#css3{
	width: 128px;
	height: 128px;
	background-image: url("../Images/css3.jpg");	
}

#net{
	width: 128px;
	height: 128px;
	background-image: url("../Images/net.png");	
}

#sqlServer{
	width: 128px;
	height: 128px;
	background-image: url("../Images/sqlServer.png");	
}

#monkey{
	background-image: url("../Images/monkey.png");	
	background-position: top right;
	width: 128px;
	height: 128px;
	float: right;

	-moz-border-radius:64px;
	-webkit-border-radius:64px;
	-webkit-linear-border-radius:64px;
	-o-linear-border-radius:64px;
	-ms-linear-border-radius:64px;

	border-left: 10px solid black;
	border-bottom: 5px solid black;
}
/* ---------------------------- Termina Tecnologias -------------------------- */