@media (min-width: 1080px) and (max-width: 1152px) {

#principal{
	width: 1080px;
}

#logo{
	width: 100px;
	height: 150px;
}

#headerContenido {
	width: 965px;
}

#sectionSidebarIzquierda{
	width: 100px;
	margin-right: 15px;
}

#sectionContenido{
	margin-right: 15px;
}

#navPrincipal ul#menu li {
	width: 235px;
}

#navEquipos {
	width: 100%;
}

#header, #section, #footer{
	color: black !important;
}

}