@media (min-width: 540px) and (max-width: 600px) {

#principal{
	width: 540px;
}

#headerContenido {
	width: 100%;
}

#logo{
	display: none;
}

#headerCompartir{
	width: 40%
}

#navPrincipal ul#menu li {
	width: 128.75px;
}

#navEquipos{
	width: 100%;
}

#navEquipos ul li{
	height: 40px;
}

#section{
	position: relative;
}

#sectionSidebarIzquierda, #sectionContenido{
	margin-top: 90px;
}

#sectionSidebarIzquierda{
	width: 108px;
	float: right;
	margin-right: 0;

	display: none;
}

#sectionContenido{
	width: 500px;
	margin-top: 0; 
	margin-right: 0;
	padding: 20px;
}

#sectionSidebarDerecha{
	width: 100%;
	position: absolute;
	top: 40px;
	height: 75px;

	display: none;
}

#sectionSidebarDerecha nav{
	margin-bottom: 0;
}

#sectionSidebarDerecha h2{
	display: none;
}

#navLigas{
	height: 100%;
}

#navLigas ul li{
	width: 148px;
	height: 100%;
	border-width: 1px;
}

#navTopicos, #navMasVotado{
	display: none;
}

#header, #section, #footer{
	color: gold !important;
}

}