@media (min-width: 960px) and (max-width: 1024px) {

#principal{
	width: 960px;
}

#headerContenido {
	width: 100%;
}

#sectionSidebarIzquierda{
	min-height: 100px;
	width: 100%;
	margin: 0 0 15px 0;
}

#sectionContenido{
	margin-right: 10px;
}

#logo{
	width: 100px;
	height: 100px;
	margin: 3px 0 0 5px;
}

#headerTexto{
	width: 600px;
	margin-left: 120px;
}

#navPrincipal ul#menu li {
	width: 233.75px;
}

#navEquipos {
	width: 100%;
}

#header, #section, #footer{
	color: blue !important;
}

}