@media all and (min-width: 1024px) and (max-width: 1079px) {

#headerContenido, #section, #footer{
	width: 1024px;
}

#section{
	height: 1200px;
}

#sectionSidebarIzquierda{
	height: 100px;
	width: 100%;
}

#sectionContenido{
	padding: 25px 50px;
	margin-right: 24px;
}

#header, #section, #footer{
	color: orange !important;
}

}