@media all and (min-width: 1080px) and (max-width: 1151px) {

#headerContenido, #section, #footer{
	width: 1080px;
}

#sectionSidebarIzquierda{
	width: 110px;	
}

#sectionSidebarIzquierda, #sectionContenido{
	margin-right: 10px;
}

#header, #section, #footer{
	color: black !important;
}

}