@media all and (min-width: 1152px) and (max-width: 1199px) {

#principal{
	width: 1152px;
}

#logo{
	width: 152px;
}

#headerContenido {
	width: 975px;
}

#sectionSidebarIzquierda{
	width: 152px;
}

#navPrincipal ul#menu li {
	width: 237.5px;
}

#navEquipos {
	width: 975px;
}

#header, #section, #footer{
	color: green !important;
}

}