@media all and (min-width: 1152px) and (max-width: 1199px) {

#headerContenido, #section, #footer{
	width: 1152px;
}

#sectionSidebarIzquierda{
	width: 182px;	
}

#sectionSidebarIzquierda, #sectionContenido{
	margin-right: 10px;
}

#header, #section, #footer{
	color: green !important;
}

}