@media all and (min-width: 200px) and (max-width: 239px) {

body{
	font-size: 11px !important;
}

#headerContenido, #section, #footer{
	width: 200px;
}

#navEquipos, #sectionIzquierda, #sectionDerecha{
	display: none;
}

#headerCompartir{
	clear: both;
	height: 40px;
}

#headerCompartir ul li a{
	background-position: inherit;
}

#navPrincipal{
	height: 30px;	
}

#navPrincipal ul li{
	line-height: 30px;
}

#navPrincipal ul li:hover{
	font-size: 12px;
}

#section{
	height: 970px;
}

#sectionContenido{
	width: auto;
	margin: 0;
	padding: 5px 0;
}

#footer{
	height: 60px;
}

#humanstxt{
	width: 100%;
	margin: 0;
}

#header, #section, #footer{
	color: seagreen !important;
}

}