@media all and (min-width: 240px) and (max-width: 319px) {

body{
	font-size: 14px !important;
}

#headerContenido, #section, #footer{
	width: 240px;
}

#headerTexto, #sectionSidebarIzquierda, #sectionSidebarDerecha{
	display: none;
}

#headerCompartir{
	width: 185px;
}

#navPrincipal ul li:hover{
	font-size: 16px;
}

#navEquipos{
	height: 80px;
}

#navEquipos ul li{
	width: 11.111%;
	height: 50%;
}

#section{
	height: 980px;
}

#sectionContenido{
	width: auto;
	margin-right: 0;
	padding: 10px 0;
}

#footer{
	height: 60px;
}

#humanstxt{
	width: 100%;
	margin: 0;
}

#header, #section, #footer{
	color: greenyellow !important;
}

}