@media all and (min-width: 240px) and (max-width: 319px) {

body{
	font-size: 14px !important;
}

#principal{
	width: 240px;
}

#headerContenido {
	width: 100%;
}

#logo{
	width: 100px;
	height: 100px;
	margin: 3px 0 0 5px;
}

#headerTexto{
	display: none;
}

#headerCompartir{
	width: 120px;
	height: 100%;
}

#headerCompartir ul li {
    width: 50%;
    height: 50%;
}

#navPrincipal ul#menu li {
	width: 57.5px;
	margin-left: 2px;
}

#navEquipos{
	width: 100%;
	height: 80px;
}

#navEquipos ul li{
	width: 11.111%;
	height: 40px;
}

#section{
	position: relative;
}

#sectionSidebarIzquierda, #sectionContenido{
	margin-top: 90px;
}

#sectionSidebarIzquierda{
	width: 108px;
	float: right;
	margin-right: 0;

	display: none;
}

#sectionContenido{
	width: 100%;
	margin-top: 0; 
	margin-right: 0;
	padding: 10px 0;
}

#sectionSidebarDerecha{
	width: 100%;
	position: absolute;
	top: 40px;
	height: 75px;

	display: none;
}

#sectionSidebarDerecha nav{
	margin-bottom: 0;
}

#sectionSidebarDerecha h2{
	display: none;
}

#navLigas{
	height: 100%;
}

#navLigas ul li{
	width: 148px;
	height: 100%;
	border-width: 1px;
}

#navTopicos, #navMasVotado{
	display: none;
}

#footer, #monkey, #humanstxt{
	background-size: contain;
}

#footer{
	height: 130px;
	background-position-x: 20px;
}

#monkey{
	background-position: center; 
	width: 60px;
	height: 40px;
	margin: 0;
	border: 0;
}

#humanstxt{
	width: 50px;
	height: 20px;
	margin: 60px 0 0 5px;
}

#header, #section, #footer{
	color: greenyellow !important;
}

}