@media all and (min-width: 320px) and (max-width: 359px) {

#headerContenido, #section, #footer{
	width: 320px;
}

#headerTexto h1, #sectionSidebarIzquierda, #sectionSidebarDerecha{
	display: none;
}

#navEquipos{
	height: 80px;
}

#navEquipos ul li{
	width: 11.111%;
	height: 50%;
}

#sectionContenido{
	width: auto; 
	margin-right: 0;
	padding: 20px 10px;
}

#footer{
	height: 80px;
}

#humanstxt{
	width: 100%;
	margin: 0;
}

#header, #section, #footer{
	color: red !important;
}

}