@media all and (min-width: 360px) and (max-width: 479px) {

#headerContenido, #section, #footer{
	width: 360px;
}

#headerTexto h1, #sectionIzquierda, #sectionDerecha{
	display: none;
}

#navEquipos{
	height: 80px;
}

#navEquipos ul li{
	width: 11.111%;
	height: 50%;
}

#sectionContenido{
	width: auto;
	margin: 0; 
	padding: 20px 10px;
}

#footer{
	height: 80px;
}

#humanstxt{
	width: 80%;
}

#header, #section, #footer{
	color: seagreen !important;
}

}