@media all and (min-width: 600px) and (max-width: 639px) {

#headerContenido, #section, #footer{
	width: 600px;
}

#section{
	position: relative;
	height: 1120px;
}

#sectionIzquierda, #sectionDerecha h2, #navTopicos, #navMasVotado{
	display: none;
}

#navEquipos{
	height: 40px;
}

#navLigas{
	height: 120px;
}

#navLigas ul li{
	width: 25%;
	height: 50%;
}

#sectionContenido{
	margin-right: 0;	
	margin-top: 120px;
	padding: 20px 0;
}

#sectionDerecha{
	width: 100%;
	position: absolute;
}

#sectionDerecha nav{
	margin-bottom: 0;
}

#humanstxt{
	width: 60%;
}

#header, #section, #footer{
	color: aquamarine !important;
}

}