@media all and (min-width: 720px) and (max-width: 767px) {

#headerContenido{
	position: relative;
}

#headerContenido, #section, #footer{
	width: 720px;
}

#section{
	height: 1037px;
}

#navEquipos{
	width: 55px;
	height: auto;
	position: absolute;
	top: 137px;
	right: 0;
}

#navEquipos ul li {
	width: 100%;
	height: 50px;
}

#sectionIzquierda, #sectionContenido{
	margin-top: 37px;
}

#sectionIzquierda, #sectionDerecha h2, #navTopicos, #navMasVotado{
	display: none;
}

#sectionContenido{
	margin-right: 10px;
}

#sectionDerecha{
	width: 100%;
	height: 37px;
	position: absolute;
}

#sectionDerecha nav{
	margin-bottom: 0;
}

#navLigas{
	height: 100%;
}

#navLigas ul li{
	width: 90px;
	height: 100%;
}

#header, #section, #footer{
	color: gray !important;
}

}