@media all and (min-width: 768px) and (max-width: 799px) {

#headerContenido, #section, #footer{
	width: 768px;
}

#section{
	height: 1039px;
	position: relative;
}

#sectionIzquierda, #sectionContenido{
	margin-top: 39px;
}

#sectionIzquierda{
	width: 108px;
	float: right;
	margin-right: 0;
}

#sectionContenido{
	margin-right: 10px;
}

#sectionDerecha{
	width: 100%;
	height: 39px;
	position: absolute;
}

#sectionDerecha h2, #navTopicos, #navMasVotado{
	display: none;
}

#sectionDerecha nav{
	margin-bottom: 0;
}

#navLigas{
	height: 100%;
}

#navLigas ul li{
	width: 96px;
	height: 100%;
}

#header, #section, #footer{
	color: yellow !important;
}

}