@media all and (min-width: 800px) and (max-width: 879px) {

#headerContenido, #section, #footer{
	width: 800px;
}

#section{
	position: relative;
	height: 1130px;
}

#sectionSidebarIzquierda, #sectionContenido{
	margin-top: 41px;
}

#sectionSidebarIzquierda{
	width: 140px;
	float: right;
	margin-right: 0;
}

#sectionContenido{
	margin-right: 10px;
}

#sectionSidebarDerecha{
	width: 100%;
	height: 41px;
	position: absolute;
}

#sectionSidebarDerecha h2{
	display: none;
}

#sectionSidebarDerecha nav{
	margin-bottom: 0;
}

#navLigas{
	height: 100%;
}

#navLigas ul li{
	width: 100px;
	height: 100%;
}

#navTopicos, #navMasVotado{
	display: none;
}

#header, #section, #footer{
	color: fuchsia !important;
}

}

