@media all and (min-width: 880px) and (max-width: 959px) {

#headerContenido, #section, #footer{
	width: 880px;
}

#section{
	height: 1045px;
	position: relative;
}

#sectionIzquierda, #sectionContenido{
	margin-top: 45px;
}

#sectionIzquierda{
	width: 220px;
	float: right;
	margin-right: 0;
}

#sectionContenido{
	margin-right: 10px;
}

#sectionDerecha{
	width: 100%;
	height: 45px;
	position: absolute;
}

#sectionDerecha h2, #navTopicos, #navMasVotado{
	display: none;
}

#sectionDerecha nav{
	margin-bottom: 0;
}

#navCompeticiones{
	height: 100%;
}

#navCompeticiones ul li{
	width: 110px;
	height: 100%;
}

#header, #section, #footer{
	color: red !important;
}

}