@media all and (min-width: 960px) and (max-width: 1023px) {

#headerContenido, #section, #footer{
	width: 960px;
}

#section{
	height: 1200px;
}

#sectionSidebarIzquierda{
	height: 100px;
	width: 100%;
}

#sectionContenido{
	margin-right: 10px;
}

#header, #section, #footer{
	color: blue !important;
}

}