/* Es para la imagen elegante de fondo, la imagen de color. */
body{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 100%;		
	margin: 0 auto;

	/* overflow-y: hidden !important; */
}

/* Nuevas etiquetas de HTML5 para que se muestren bien en IE */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}

h1{
	
}

a{
	text-decoration: none;
	display: block;
	width: auto;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

li{
	list-style: none;
	float: left;	
}

p, ul, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	display: inline;
}

#principal{
	margin: 0 auto;
	width: initi;
}

#header, #section, #footer, #logo{
	
}	

#header, #section, #footer, #navPrincipal{		
	width: 1200px;
	color: white;
}

#header, #section, #footer{	
	color: #6e6e6e;
	margin: 0 auto;
}

#header, #section, #logo{
	/*Para border en toda la pagina en gris elegante
	border: solid 2px gray;
	*/
}	
  
#header, #footer{

}

#header, #section{

}

#section, #footer{

}

#header, #logo{
	
}

#navPrincipal li:hover, #section li:hover{
	/* Para efectos de prueba solamente 
	background-color: #9E682A !important;*/
	color: white !important; 
	font-size: 30px;
}

#logo, #monkey{
	background-repeat: no-repeat;
}

#logo{
	background-image: url("../Images/logo.png");	
	background-position: center center;
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;

	width: 50px;
	height: 50px;

	-moz-border-radius: 110px;
	-webkit-border-radius: 110px;
	-webkit-linear-border-radius: 110px;
	-o-linear-border-radius: 110px;
	-ms-linear-border-radius: 110px;
	border-radius: 110px;
	float: left; 
}

/* ---------------------------- Header -------------------------- */
#header{	
	float: left;
	min-width: 100% !important;	
	height: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	color: white;		
	background: black;
	border-bottom: 20px;
	z-index: 1;	
	position: relative;
}

#headerContenido{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

#headerTexto{
	float: left;
	margin-left: 10px;
}

#headerCompartir{
	width: 200px;
	float: right;
}

#headerCompartir ul li{
	width: 25%;
	height: 100%;
}
/* ---------------------------- Termina Header -------------------------- */


/* ---------------------------- NavPrincipal -------------------------- */
#navPrincipal{
	height: 40px;
	width: 1000px;	
	float: right;
}

#navPrincipal, #navPrincipal ul#menu li ul {
	/* Gris con transparencia 
	background-color: rgba(77, 76, 76, 0.56);
	*/
}

/* Menu y Submenu */
#navPrincipal ul li:hover{

}
/* Termina Menu y Submenu */


/* Menu */
#navPrincipal ul#menu {
	height: 100%;
}
 
#navPrincipal ul#menu li, #navPrincipal ul#menu li a{	
 	text-align: center;
}

#navPrincipal ul#menu li {
	width: 244px;
	height: 100%;
    float: left;
	margin-left: 4px;
	line-height: 40px;
	border: 1px solid white;
}

#navPrincipal ul#menu li:first-child {
	/* margin-left: 0; */
}
   
#navPrincipal ul#menu li:hover{
 	color: #aaa073;
}

#navPrincipal ul#menu li a{
	color: inherit;
}
/* Termina menu */
   

/* Submenu */
#navPrincipal ul#menu ul {
 display: none;
 position: absolute;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
 }
   
#navPrincipal ul#menu ul li{
 width:100%;
 margin:2% 0%;
}  
  
#navPrincipal ul#menu ul li a{
 color: #fff;
}
   
#navPrincipal ul#menu ul li a:hover{
 	color: #aaa073;
}
   
ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
   
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}
/* Termina Submenu */
/* ------------------------- Termina NavPrincipal --------------------- */


/* ---------------------------- Section -------------------------- */
#section{ 
	min-height: 1300px;
}

#section ul li {
	/* Ya soy pro, ya no los necesito ;)
	border: 1px solid white;
	*/
}

#sectionSidebarIzquierda, #sectionContenido, #sectionSidebarDerecha{
	margin-bottom: 20px;
}

#sectionSidebarIzquierda li, #sectionSidebarDerecha li{
	background-color: black;
}


/* Nav Equipos */
#navEquipos{
	/* MacBook
	width: 1055px; */

	width: 1000px;
	height: 50px;
    float: right;
}

#navEquipos ul li{
	width: 5.555%;
	height: 100%;
}

#navEquipos ul li a{

}
/* Termina Nav Equipos */


/* Section Sidebar Izquierda */
#sectionSidebarIzquierda{
	width: 200px;
	min-height: 1340px;
	float: left;
	margin-right: 25px;
	clear: both;
	background-color: black;
}

#sectionSidebarIzquierda:hover{
	/* Para efectos de prueba solamente */
	background-color: #9E682A !important;
}

#sectionSidebarIzquierda ul li{

}
/* Termina Section Sidebar Izquierda */


/* Section Contenido */
#sectionContenido{
	float: left;
	
	/* MacBook
	width: 644px; */

	width: 600px;
	min-height: 1300px;
	font-size: 25px;
	background-color: white;
	padding: 20px 25px;
	margin-right: 25px;
}
/* Termina Section Contenido */


/* Section Sidebar Derecha */
#sectionSidebarDerecha{
	float: left;
	width: 300px;
	height: auto;
}

#sectionSidebarDerecha nav{
	margin-bottom: 30px;
}

#sectionSidebarDerecha li:hover, #sectionSidebarDerecha a:hover{
	
}

#navLigas{
	height: 256px;
}

#navLigas ul li{
	width: 145px;
	height: 60px;
	border: 2.5px solid #6e6e6e;	
}

#navLigas ul li a{	
	background-size: contain;
}

#navLigas ul li:hover, #navLigas ul li a:hover{
	background-color: black !important;	
	opacity: .7;
}

#navLigas ul li a, #navMasVotado ul li a{

}

#navLigas ul li:hover, #navTopicos ul li:hover, #navMasVotado ul li:hover{
		
}

#navLigas ul li a:hover, #navTopicos ul li a:hover, #navMasVotado ul li a:hover{

}

#navTopicos{
	height: 600px;
}

#navTopicos ul li {
	width: 50%;
	height: 25%;
}

#navMasVotado{
	height: 300px;
}

#navMasVotado ul li{
	width: 100%;
	height: 100%;
}
/* Termina Section Sidebar Derecha */
/* ---------------------------- Termina Section -------------------------- */


/* ---------------------------- Footer -------------------------- */
#footer{
	/* Elegante con un diseno morado del mundo.
	background: black url("../Images/nocturn.png");
	background-position: bottom;
	*/

	background: black url("../Images/map.png");
	background-position: left center;
	background-position-x: 130px;
	background-repeat: no-repeat;

	clear: both;
	height: 250px;
	font-size: 13px;
	font-weight: bold;	
	color: white;
}

#footer ul{
	clear: left;
	padding-left: 30px;
}

#footer ul li {
	margin-left: 30px; 
	float: none;
}
/* ---------------------------- End Footer -------------------------- */


/* ---------------------------- Aside -------------------------- */
aside{
	float: left;
	width: 50%;
	height: auto;
}

#asideEnlaces{
	display: none;
}

#asideEnlaces p{
	float: left;
}

#asideIconos{

}
/* ---------------------------- Termina Aside -------------------------- */

/* ---------------------------- Audio -------------------------- */

#audio{

}

#playlist,audio{background:#666;width:400px;padding:20px;}
#playlist .active a, audio .active a{color:#5DB0E6;text-decoration:none;}
#playlist li a, audio li a{color:#eeeedd;background:#333;padding:5px;display:block;}
#playlist li a:hover, audio li a:hover{text-decoration:none;}

/* ---------------------------- Termina Audio -------------------------- */

.flotarIzquierda{
	float: left;
}

.flotarDerecha{
	float: right;	
}

.transparencia{
	/* el color de fondo transparente para IE */
	background-color: transparent;
	/* el color de fondo usando rgba() */
	background-color: rgba(0, 0, 0, 0.8);
	/* el filtro de IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
}

/* No se está invocando por ahora, es para darle transparencia pero genera conflictos con el texto */
.transparencia2{	
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
































/* ------------------------ Equipos -------------------------- */
#america{
	background-image: url("../Images/Equipos/america.png");	
}

#atlante{
	background-image: url("../Images/Equipos/atlante.png");	
}

#atlas{
	background-image: url("../Images/Equipos/atlas.png");	
}

#chiapas{
	background-image: url("../Images/Equipos/chiapas.png");	
}

#cruzAzul{
	background-image: url("../Images/Equipos/cruzAzul.png");	
}

#guadalajara{
	background-image: url("../Images/Equipos/guadalajara.png");	
}

#leon{
	background-image: url("../Images/Equipos/leon.png");	
}

#monterrey{
	background-image: url("../Images/Equipos/monterrey.png");	
}

#morelia{
	background-image: url("../Images/Equipos/morelia.png");	
}

#pachuca{
	background-image: url("../Images/Equipos/pachuca.png");	
}

#puebla{
	background-image: url("../Images/Equipos/puebla.png");	
}

#pumas{
	background-image: url("../Images/Equipos/pumas.png");	
}

#queretaro{
	background-image: url("../Images/Equipos/queretaro.png");	
}

#santos{
	background-image: url("../Images/Equipos/santos.png");	
}

#tigres{
	background-image: url("../Images/Equipos/tigres.png");	
}
#tijuana{
	background-image: url("../Images/Equipos/tijuana.png");	
}

#toluca{
	background-image: url("../Images/Equipos/toluca.png");	
}

#veracruz{
	background-image: url("../Images/Equipos/veracruz.png");	
}


/* ------------------------ Termina Equipos -------
------------------- */


/* ---------------------------- RedesSociales -------------------------- */
#facebook{
	background-image: url("../Images/RedesSociales/facebook1.png");		
}

#facebook:hover{
	background-image: url("../Images/RedesSociales/facebook2.png");			
}

#twitter{
	background-image: url("../Images/RedesSociales/twitter1.png");		
}

#twitter:hover{
	background-image: url("../Images/RedesSociales/twitter2.png");			
}

#googlePlus{
	background-image: url("../Images/RedesSociales/googlePlus1.png");		
}

#googlePlus:hover{
	background-image: url("../Images/RedesSociales/googlePlus2.png");			
}

#instagram{
	background-image: url("../Images/RedesSociales/instagram1.png");		
}

#instagram:hover{
	background-image: url("../Images/RedesSociales/instagram2.png");			
}

/* ---------------------------- Termina RedesSociales -------------------------- */

/*------------------------------Competiciones------------------------------*/

#champions{
	background-image: url("../Images/Ligas/LogoUEFA.png");
}

#española{	
	background-image: url("../Images/ligas/LogoEspañola.png");
}

#libertadores{
	background-image: url("../images/ligas/LogoLibertadores.png");
}


#mexicana{
	background-image: url("../images/ligas/LogoMexico.png");
}

#premier{
background-image: url("../images/ligas/LogoPremier.png");
}

/*------------------------------Competiciones------------------------------*/


/* ---------------------------- Tecnologias -------------------------- */
#humanstxt{
	width: 88px;
	height: 31px;
	background-image: url("../Images/Tecnologias/humanstxt-bn.png");
	background-repeat: no-repeat; 
	float: left;
	margin: 10px 0 0 40px;	
}

#monkey{
	background-image: url("../Images/monkey.png");	
	background-position: top right;
	width: 128px;
	height: 128px;
	float: left;
	margin: 50px 0 0 30px;
	clear: both;

	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	-webkit-linear-border-radius: 64px;
	-o-linear-border-radius: 64px;
	-ms-linear-border-radius: 64px;
	border-radius: 64px;

	border-left: 10px solid black;
	border-bottom: 5px solid black;

	/* Bordes grises
	border-left: 6px solid rgb(84, 99, 97);
	border-bottom: 6px solid rgb(84, 99, 97);
	*/
}
/* ---------------------------- Termina Tecnologias -------------------------- */