body{
	background: #1c1c1c url("../Images/fondo7.gif");
		
	/* Para que solo aparezca la imagen expandida al 100%
	background-size: 100%;*/
	margin-top: -1px;
}

/* Nuevas etiquetas de HTML5 para que se muestren bien en IE */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

h1{
	
}

p, ul, h1, h2, h3, h4{
	padding: 0;
	margin: 0;
	display: inline;
}

header, section, footer, #logoEmpresa{
	/* Para bordes en negro elegante
	border: solid 3px #1D1F21;*/

	/*Para border grises en toda la pagina*/
	border: solid 3px gray;
}	

header, section, footer{		
	-moz-border-radius: 15px 55px 5px;
	-webkit-border-radius: 15px 55px 5px;
	-webkit-linear-border-radius: 15px 55px 5px;
	-o-linear-border-radius: 15px 55px 5px;
	-ms-linear-border-radius: 15px 55px 5px;
	
	/* Pruebas para los bordes en IE en el servidor web 
	(no funciona localmente, en el servidor SI!) */
	linear-border-radius: 15px 55px 5px;
	border-radius: 15px 55px 5px;
	behavior: url(../JS/PIE1/PIE.htc);
		/* no aplica contenidos */
    content:"";
                /* posiciona la sombra por detras de la caja */
    z-index:-1;
                /* aplica una sombra centrada con un gris oscuro y 20px de difuminado */    
    -moz-box-shadow:0 0 15px white;
    -webkit-box-shadow:0 0 15px white;
    -webkit-linear-box-shadow:0 0 15px white;
    -o-linear-box-shadow:0 0 15px white;
    -ms-linear-box-shadow:0 0 15px white;
    linear-box-shadow:0 0 15px white;
    box-shadow:0 0 15px white;
                /* centra verticalmente y separa la sombra de los bordes izquierdo y derecho */

	color: #6e6e6e;
}
  
header, footer{
    top:0;
    bottom:0;
    left:10px;
    right:10px;
}

header, section{
	margin-bottom: 20px;
}

section, footer{
	background-color: white;
	padding: 5px 20px;

	/* Para bordes en negro elegante*/
	border: solid 3px #1D1F21;
}

header, #logoEmpresa{
	-moz-border-radius:25px;
	-webkit-border-radius: 25px;
	-webkit-linear-border-radius: 25px;
	-o-linear-border-radius: 25px;
	-ms-linear-border-radius: 25px;
	
	/* Pruebas para los bordes en IE en el servidor web 
	(no funciona localmente, en el servidor SI!) */
	linear-border-radius: 25px;
	border-radius: 25px;
	behavior: url(../JS/PIE1/PIE.htc);
}

header{	
	width: auto;
	height: 150px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	color: white;	
	background: none;
}

nav{
	width: auto;
	height: 30%;
	background-color: #1D1F21;

	/* Es para la transparencia en la barra de navegacion pero creo que no la usare
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
	
	/* No ira el margen a la derecha 
	margin:  0 -3px -3px 0; */
	
	-moz-border-radius: 0 0 25px 0;
	-webkit-border-radius: 0 0 25px 0;
	-webkit-linear-border-radius: 0 0 25px 0;
	-o-linear-border-radius: 0 0 25px 0;
	-ms-linear-border-radius: 0 0 25px 0;
	
	/* Pruebas para los bordes en IE en el servidor web 
	(no funciona localmente, en el servidor SI!) */
	linear-border-radius: 0 0 25px 0;
	border-radius: 0 0 25px 0;
	behavior: url(../JS/PIE1/PIE.htc);
}

section{ 
	width: auto;
	height: 300px;
	font-size: 20px;	 
}

footer{
	width: auto;
	height: 128px;
	font-size: 13px;
	font-weight: bold;	
}

footer ul{
	clear: left;
	padding-left: 30px;
}

footer ul li {
	text-decoration: none;
	margin-left: 30px; 
}

aside{
	float: left;
	width: 50%;
	height: auto;
}

.flotarIzquierda{
	float: left;
}

.flotarDerecha{
	float: right;	
}

.transparencia{
	/* el color de fondo transparente para IE */
	background-color: transparent;
	/* el color de fondo usando rgba() */
	background-color: rgba(0, 0, 0, 0.8);
	/* el filtro de IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
}

.transparencia2{	
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#logoEmpresa{
	height: 150px;
	width: 16.5%;	/* 219px para ser exactos*/
	margin: -3px 0 -3px -3px;
	background-image: url("../Images/monkey3.jpg");
	background-color: black;
}

#derechaLogo{
	width: 83.2%;
	height: 100%;

	/* Esto era ideal para ajustar el ancho de diferentes dimensiones
	pero no funciono en IE u.u
	width: calc(100% - 230px);
    min-width: 230px;*/
}

#arribaNav{
	width: auto;
	height: 70%;
	padding-left: 5px;

	-moz-border-radius: 0 25px 0 0;
	-webkit-border-radius: 0 25px 0 0;
	-webkit-linear-border-radius: 0 25px 0 0;
	-o-linear-border-radius: 0 25px 0 0;
	-ms-linear-border-radius: 0 25px 0 0;
	
	/* Pruebas para los bordes en IE en el servidor web 
	(no funciona localmente, en el servidor SI!) */
	linear-border-radius: 0 25px 0 0;
	border-radius: 0 25px 0 0;
	behavior: url(../JS/PIE1/PIE.htc);
}

#humanstxt{
	width: 88px;
	height: 31px;
	background-image: url("../Images/humanstxt-orange.gif");
}

#html5{
	width: 128px;
	height: 128px;
	background-image: url("../Images/html5.png");
}

#css3{
	width: 128px;
	height: 128px;
	background-image: url("../Images/css3.jpg");	
}

#net{
	width: 128px;
	height: 128px;
	background-image: url("../Images/net.png");	
}

#sqlServer{
	width: 128px;
	height: 128px;
	background-image: url("../Images/sqlServer.png");	
}
