body{
	/* Verde 
	background-color: #017337; 
	background-color: #072B1A;
	background-color: #020D09;*/

	/* Rojo 
	background-color: #1D0604;
	background-color: #2E0405;
	background-color: #220404; 
	*/	

	background-color: #191919;
	
	background-repeat: no-repeat;
	background-size: 160%;
	background-position: center;

	/*
	color: beige;
	*/

	color: white;

    /* Fuente de iOS, pero esta muy gorda. 
    font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	*/
 
    /* Fuente de Google. */
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    font-weight: 100 !important;

    /* Transparencia. 
    background: #333333;
	background: rgba(0, 0, 0, 0.75); */

	/* Desenfoque. No sirvió. 
	box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
	transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out; 
	*/
}

h2{
	font-size: 40px !important;
	font-weight: 100 !important;
	text-align: center;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	display: block;
}

#principal{
	width: auto;
	height: 100%;
	margin: 0 auto;
	padding: 20px;

	/* Transparencia. 
	background-color: black;	
	background-color: rgba(0,0,0,0.9);
	*/

	/* border: 10px solid #730C01; */

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#header{

}

#footer {
	background: black;
	clear: both;
	height: 100px;
	position: relative;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#footer:hover{
	background: none;
}

#imgMonkey{
	width: 25%;
	height: 50%;
	float: left;
	position: absolute;
	bottom: 15%;
	left: 5%;
}

#imgMapa{
	width: 80%;
	height: 100%;	
	float: right;
}

#section{

}

#navPrecios, #navPrecios ul{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 150px;
}

#navPrecios ul li:first-child{

}

#navPrecios ul li{
	background-color: #343434;
	list-style: none;
	padding: 25px;
	margin: auto;

	width: 80px;
	height: 80px;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;

	/* Intento de imagen en boton. 
	background-image: url("fondo.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	*/
}

#navPrecios ul li:hover{
	/* background-image: url("color.jpg"); */
	background: none;
	border-color: white;
}

#navPrecios ul li a{
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

#pesosLitros, #litrosPesos{
	margin-bottom: 20px;
	width: 100%;
}

#lblLitrosPesos, #lblPesosLitros{
	width: 100%;	
	display: block;
	padding-bottom: 10px;
}

#txtPesosLitros, #txtLitrosPesos, #btnCalcularPesosLitros, #btnCalcularLitrosPesos{
	width: 49%;
	height: 50px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#txtPesosLitros, #txtLitrosPesos{
	box-sizing: border-box;
	color: white;
	background: none;
	text-align: center;
}

#btnCalcularPesosLitros, #btnCalcularLitrosPesos, #principal, #navPrecios ul li{
	border: 1px solid #707070;
}

/*
#btnCalcularPesosLitros, #btnCalcularLitrosPesos{
	background-color: #343434;	
	color: white;
	font-size: 30px !important;
	float: right;
}
*/

#btnCalcularPesosLitros, #btnCalcularLitrosPesos{
	background-image: url("calcula.png");	
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 70px;
	float: right;
	background-color: inherit !important;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

#lblTituloTipo{
	text-align: center;
}

.liTipo{
	width: 33.3% !important;
	height: auto !important;
	float: left;
}