body{
	/* Verde 
	background-color: #017337; 
	background-color: #072B1A;*/
	background-color: #020D09;

	/* Rojo 
	background-color: #1D0604;
	background-color: #2E0405;
	background-color: #220404; 
	*/

	color: beige;
}

#principal{
	width: auto;
	height: 100%;
	padding: 20px;
	
	/* border: 10px solid #730C01; 
	border: 10px solid #1D0604;*/

	margin: 0 auto;
}

