html, body{
	/* Verde 
	background-color: #017337; 
	background-color: #072B1A;
	background-color: #020D09;*/

	/* Rojo 
	background-color: #1D0604;
	background-color: #2E0405;
	background-color: #220404; 
	*/	

	background-color: #191919;	
	background-repeat: no-repeat;
	width: auto;
	height: 100%;
	background-position: center;

	/*
	color: beige;
	*/

	color: white;

    /* Fuente de iOS, pero esta muy gorda. 
    font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	*/
 
    /* Fuente de Google. */
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    font-weight: 100 !important;

    /* Transparencia. 
    background: #333333;
	background: rgba(0, 0, 0, 0.75); */

	/* Desenfoque. No sirvió. 
	box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
	transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out; 
	*/
}

h2{
	font-size: 40px !important;
	font-weight: 100 !important;
	text-align: center;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	display: block;
}

div, li{
	/*
	background-color: rgba(0, 0, 0, 0.2); 
	*/
	width: auto;
	height: 90%;
}

#bodyIndex{

}

#bodyCalculos{

}

#index, #calculos{
	margin: 0 auto;
	padding: 20px;

	/* Transparencia. 
	background-color: black;	
	background-color: rgba(0,0,0,0.9);
	*/

	/* border: 10px solid #730C01; */

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#sectionIndex, #footerIndex, #sectionCalculos, #footerCalculos{
	height: 50%;	
}

#navPrecios, #navPrecios ul{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100px;
}

#navPrecios ul li:first-child{

}

#navPrecios ul li{
	background-color: #343434;
	background-color: rgba(0,0,0,0.5);
	list-style: none;
	padding: 15px;
	margin: auto;

	width: 60px;
	height: 60px;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;

	/* Intento de imagen en boton. 
	background-image: url("fondo.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	*/
}

#navPrecios ul li:hover{
	background: none; 
	border-color: white;	
}

#navPrecios ul li a{
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

#pesosLitros, #litrosPesos{
	height: 100px;		
	width: 100%;	
	clear: both;
	padding: 20px 0;
}

#lblTituloTipo{
	text-align: center;
}

#lblTotalLitrosPesos, #lblTotalPesosLitros, #lblLitrosPesos, #lblPesosLitros{
	width: 50%;
	display: block;
	float: left;
	padding-bottom: 10px;
}

#lblLitrosPesos, #lblPesosLitros{
	
}

#lblTotalLitrosPesos, #lblTotalPesosLitros{
	text-align: right;	
}

#index, #calculos, #navPrecios ul li, #btnCalcularPesosLitros, #btnCalcularLitrosPesos, #txtPesosLitros, #txtLitrosPesos{
	border: 1px solid #707070;
}

#txtPesosLitros, #txtLitrosPesos, #btnCalcularPesosLitros, #btnCalcularLitrosPesos{
	height: 70px;
	background-color: rgba(0, 0, 0, 0.5);

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#txtPesosLitros:focus, #txtLitrosPesos:focus, #txtPesosLitros:hover, #txtLitrosPesos:hover{
	border-color: white;
	background: none;
}

#txtPesosLitros, #txtLitrosPesos{
	width: 75%;

	box-sizing: border-box;
	color: white;
	text-align: center;

	float: left;
}

#btnCalcularPesosLitros:hover, #btnCalcularLitrosPesos:hover{
	border-color: white;
	background-color: inherit;
}

#btnCalcularPesosLitros, #btnCalcularLitrosPesos{
	background-image: url("../images/calculadora.png");	
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 70px;
	float: right;

	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

.liTipo{
	width: 33.3% !important;
	height: auto !important;
	float: left;
}

#footerIndex, #footerCalculos{
	width: auto;
	clear: both;
	position: relative;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#footerIndex:hover{
	background: none;
}

#footerIndex{
	background: black;
}

#footerCalculos{
	background: none;
}

#imgMonkey{
	width: 25%;
	height: 50%;
	float: left;
	position: absolute;
	bottom: 15%;
	left: 5%;
}

#imgMapa{
	width: 80%;
	height: 100%;	
	float: right;
}
